<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-collocation</symbolicName>
    <version>5.0</version>
    <name>Collocation</name>

    <description>
        Collocation tool.
    </description>

    <changelog>
        <![CDATA[
        ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>

    <categories>VISAT,Processing,Collocation</categories>

    <extension point="beam-ui:actions">
        <action>
            <parent>processing.geomOperations</parent>
            <id>collocation</id>
            <helpId>collocation</helpId>
            <class>org.esa.beam.collocation.visat.CollocationAction</class>
            <parent>tools</parent>
            <text>Product: Collocation...</text>
            <placeAfter>createSubsetFromView</placeAfter>
            <placeBefore>mosaicAction</placeBefore>
            <shortDescr>Collocate two products into a single product (useful for parameter comparisons, etc.)</shortDescr>
            <description>Collocate two products into a single product (useful for parameter comparisons, etc.)</description>
            <!--<smallIcon>icons/Collocation16.gif</smallIcon>-->
            <!--<largeIcon>icons/Collocation24.gif</largeIcon>-->
            <smallIcon>icons/dannys_collocation16.png</smallIcon>
            <largeIcon>icons/dannys_collocation24.png</largeIcon>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>seadas-help</parent>
            <path>doc/help/collocation.hs</path>
        </helpSet>
    </extension>

</module>
