<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-watermask</symbolicName>
    <version>1.2</version>
    <name>Land-Water mask</name>

    <description>Accurate Land/Water-mask based on shape files.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2011 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog/>

	<dependency>
        <module>beam-gpf</module>
    </dependency>
	 <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Application,Processor</categories>

    <extension point="beam-ui:actions">
        <!--<action>-->
            <!--<id>watermask</id>-->
            <!--<class>org.esa.beam.visat.actions.DefaultOperatorAction</class>-->
            <!--<operatorName>LandWaterMask</operatorName>-->
            <!--<dialogTitle>Accurate Land/Water-mask</dialogTitle>-->
            <!--<targetProductNameSuffix>_watermask</targetProductNameSuffix>-->
            <!--<text>Land/Water-mask...</text>-->
            <!--<shortDescr>Accurate Land/Water-mask based on shape files.</shortDescr>-->
            <!--<mnemonic/>-->
            <!--<parent>tool</parent>-->
            <!--<helpID>watermask</helpID>-->
            <!--<placeAfter/>-->
        <!--</action>-->

        <!--<action>-->
            <!--<parent>view</parent>-->
            <!--<id>Auxiliary Masks</id>-->
            <!--<class>org.esa.beam.watermask.ui.WaterMaskVPI</class>-->
            <!--<placeAfter>showGraticuleOverlay</placeAfter>-->
            <!--<text>Show Landmask/Coastline</text>-->
            <!--<toggle>false</toggle>-->
            <!--<separatorAfter>false</separatorAfter>-->
            <!--<mnemonic>W</mnemonic>-->
            <!--<shortDescr>Create Landmask/coastline</shortDescr>-->
            <!--<description>Create Landmask/coastline masks</description>-->
            <!--<context>image</context>-->
            <!--<smallIcon>icons/GraticuleOverlay16.gif</smallIcon>-->
            <!--<largeIcon>icons/GraticuleOverlay24.gif</largeIcon>-->
            <!--&lt;!&ndash;<helpId>showGraticuleOverlay</helpId>&ndash;&gt;-->
        <!--</action>-->
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>seadas-help</parent>
            <path>doc/help/coastlineLandMasks.hs</path>
        </helpSet>
    </extension>
</module>
